#!/bin/sh
set -e
# Create required directories on Unix systems
# macOS: also create ~/.nvm for homebrew nvm
mkdir -p "$HOME/.zsh" "$HOME/.config" "$HOME/.local/bin"
{{- if eq .chezmoi.os "darwin" }}
mkdir -p "$HOME/.nvm"
{{- end }}
echo "Created required directories"