

{{- if eq .chezmoi.os "windows" }}
{{- else if eq .chezmoi.os "darwin" }}
[".antidote"]
    type = "git-repo"
    url = "https://github.com/getantidote/antidote"
    refreshPeriod = "168h"
{{- else if eq .chezmoi.os "linux" }}
{{- end }}
