README.md

{{ if ne .chezmoi.os "linux" }}
# Linux-only Desktop, Window Manager, and GTK configs
.config/hypr
.config/hypr/**
.config/gtk-3.0
.config/gtk-3.0/**
.config/gtk-4.0
.config/gtk-4.0/**
.config/paru
.config/paru/**
.icons
.icons/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
# Unix-only shells and terminal emulators
.zshenv
.config/zsh
.config/zsh/**
.config/kitty
.config/kitty/**
{{ end }}
