{{- if eq .chezmoi.os "windows" }}
["AppData/Local/nvim"]
    type = "git-repo"
    url = "https://github.com/LazyVim/starter.git"
    refreshPeriod = "168h"
{{- else }}
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/LazyVim/starter.git"
    refreshPeriod = "168h"
{{- end }}
