[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF5pT06+3YIjr2AsW0X6YMnboBtk8f9Ho/w7DJhYvt27
[gpg]
	format = ssh
[gpg "ssh"]
	{{- if eq .chezmoi.os "windows" }}
	program = C:/Users/manrig/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe
	{{- else if eq .chezmoi.os "linux" }}
	program = /opt/1Password/op-ssh-sign
	{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	##WSL
	{{-   end }}
	{{- else if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	{{- end }}
[commit]
	gpgsign = true
[init]
	defaultBranch = "main"
[url "git@github.com:"]
	insteadOf = https://github.com/
{{- if eq .chezmoi.os "windows" }}
[core]
	sshCommand = C:/WINDOWS/System32/OpenSSH/ssh.exe
{{- end }}