{
  "git": {
    "name": "Your Name",
    "email": "you@example.com",
    "username": "your-github-username",
    "signingKey": "ssh-ed25519 AAAA..."
  },
  "op": {
    "useOnePassword": true,
    "gitSigningKeyRef": "op://Private/your-item-id/public key",
    "account": "AccountID/Shorthand"
  },
  "secrets": {
    "github-token": "env",
    "ssh-passphrase": "pass"
  },
  "ignore": []
}
