#!/bin/bash
# Install zoxide for directory jumping
set -e

{{ include "_functions.sh" }}

install_tool \
  "zoxide" \
  "zoxide" \
  "zoxide" \
  "zoxide" \
  "zoxide" \
  "zoxide" \
  "zoxide" \
  "zoxide" \
  "https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh"
