#!/bin/bash
# Install Starship prompt
set -e

{{ include "_functions.sh" }}

install_tool \
  "Starship" \
  "starship" \
  "starship" \
  "starship" \
  "starship" \
  "starship" \
  "starship" \
  "starship" \
  "https://starship.rs/install.sh"
