#!/bin/bash
# Install Oh My Zsh if not already installed

set -e

if [ -d "$HOME/.oh-my-zsh" ]; then
  echo "Oh My Zsh already installed"
  exit 0
fi

echo "Installing Oh My Zsh..."
{{- if eq .chezmoi.os "darwin" }}
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
{{- else if eq .chezmoi.os "linux" }}
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
{{- end }}

echo "Oh My Zsh installed successfully"
