# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
{{- if eq .chezmoi.os "darwin" }}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
Include ~/.orbstack/ssh/config
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{- end }}
{{- if eq .chezmoi.os "linux" }}
Host *
    IdentityAgent ~/.1password/agent.sock
{{- end }}
{{- if .work }}
Host nl-testlabsvr02
    HostName 10.65.14.123
    User swiss
    ForwardAgent yes

Host ch-testlab-rn01
    HostName 10.60.10.64
    User testlab
    ForwardAgent yes

Host ch-testlab-rn02
    HostName 10.60.10.59
    User testlab
    ForwardAgent yes

Host ch-testlab-nb01
    HostName 10.60.10.161
    User manuel
    ForwardAgent yes    
    
Host ch-testlab-nb02
    HostName 10.60.10.161
    User manuel
    ForwardAgent yes
{{- end}}