add_newline = true

format = """
$username$hostname$directory$git_branch$git_status
$character
"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[directory]
style = "bold blue"
truncation_length = 3
truncate_to_repo = false

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold yellow"

[username]
show_always = true
style_user = "bold cyan"

[hostname]
ssh_only = true
style = "bold dimmed"
