# ls
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'

# Directory jumping (zoxide)
alias ..='z ..'
alias ...='z ../..'
alias ....='z ../../..'
alias c='clear'

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Human-readable sizes
alias df='df -h'
alias du='du -h'
{{ if os == "linux" }}
alias free='free -h'
{{ end }}

# Git
alias g='git'
alias gc='git commit'
alias gp='git push'
alias gl='git pull'
alias gs='git status'
alias gd='git diff'
alias gco='git checkout'
alias glog='git log --oneline --graph --decorate'
alias gst='git stash'
alias gstp='git stash pop'
alias gcp='git cherry-pick'
alias grb='git rebase'
alias gb='git branch'
alias ga='git add'
alias gaa='git add .'
alias gcm='git commit -m'
